snippet f "anonymous function" w
function($1) {
	${VISUAL}$0
}
endsnippet

snippet def "define an AMD module"
define([${1:'underscore'}], ${2:callback});
endsnippet

snippet ; "();" i
($1);
endsnippet
